municipis_geo.csv
mapa_infraccions.html
mapa_infraccions_calor.html
.~dataviz_pr2__34045.twbr
.DS_Store
dataviz_pr2.twb
Fets_delictius_i_infraccions_administratives_de_l__mbit_de_l_odi_i_discriminaci__20240517.csv
fets_geo_tipus.csv
fets_geo.csv
